scipy==1.12.0
jupyter
pandas
pyarrow
scikit-learn
numpy
transformers
matplotlib
langdetect
setfit
torcheval
sentencepiece
flair
nltk
accelerate
mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-with-pdf